@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply block w-full py-5 border-gray-300 rounded-md hover:border-gray-500 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm;
  }
}

@layer components {
  .btn {
    @apply inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md
    disabled:opacity-70 disabled:pointer-events-none;
  }
  .btn-primary {
    @apply text-white bg-indigo-600 hover:bg-indigo-700
     focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500;
  }
  .btn-success {
    @apply text-white bg-green-600 hover:bg-green-700 
    focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500;
  }
  .input-label {
    @apply block text-sm font-medium text-gray-700;
  }
  .floating-label {
    @apply absolute left-0 -top-2.5 bg-white ml-2 px-1 text-gray-600 transition-all 
    peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-5
    peer-focus:-top-2.5 peer-focus:text-indigo-600 peer-focus:text-sm;
  }
}
